/* .para{
   background-color:  blue;
   color: red;
}



#para1{
   background-color: blue;
   color: brown;
}


#para2{
   background-color: beige;
   color: blue;
}
#para3{
   background-color: brown;
   color: yellowgreen;
}
#para4{
   background-color: green;
   color: blueviolet;
}

p,h1,div{
   background-color: blueviolet;
   color:yellow;
}
*{
   background-color:brown;
   color: blue;
} */
